*,
*::after,
*::before {
  /* margin: 0; */
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

/* body {
  height: 100vh;
  width: 100%;
  background: #0f2027;
  background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
} */

.form__label {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 5.0rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
  color: rgb(40, 176, 218);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 5.0rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 30%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

/* ---------------- */

.myButton {
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
	box-shadow: 0px -4px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:32px 43px;
	text-decoration:none;
	text-shadow:0px 0px 0px #5b6178;
}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* ------------------ */

.result{
    font-size: 6rem;
    text-align: center;
}

       
