html {
    font-size: 22px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(0, 0, 0) 0%, rgb(2, 2, 2) 90.1% );
}

.card-container{
    width: 800px;
    height: 400px;
    position: relative;
    perspective: 1000px;
}

.cover, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform .25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: .4rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .18);
    text-shadow: 0 .15rem .2rem rgba(0, 0, 0, .2);
}

.cover{
    background-color: aqua;
    transform: rotateY(0deg);
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(219, 157, 231, 0.98) 0.1%, rgb(112, 248, 230) 99.8% );
    color: #fff;
}
.card-container:hover .cover{
    transform: rotatey(180deg);
}
.back{
    background-color: rgb(255, 255, 255);
    transform: rotatey(-180deg);
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 90% );
}
.card-container:hover .back{
    transform: rotatey(0deg);
}


/***********************************************/

@media (max-width: 1200px) {
    main>.song{width: 45%;}
}

@media (max-width: 600px) {
    main>.song{width: 90%;}

    nav>.item{
        display: none;
    }
    nav>.item-advance{
        display: flex;
        justify-content:end;
    }
}

/***********************************************/